<?xml version="1.0"?>
<launch>
  <arg name="development_global_path_only" default="false"/>
  <node pkg="vehicle_control_pkg" type="vehicle_controller_node"
        name="vehicle_controller_node" ns="/" output="screen">
    <rosparam command="load" file="$(find ros_architecture_pkg)/config/messages/controller_messages.yaml" ns="contract"/>
    <rosparam command="load" file="$(find vehicle_control_pkg)/config/controller.yaml"/>
    <param name="development_global_path_only" value="$(arg development_global_path_only)"/>
  </node>
</launch>
