<?xml version="1.0"?>
<launch>
  <arg name="mode" default="estimator" doc="estimator or diagnostic"/>
  <node if="$(eval arg('mode') == 'diagnostic')" pkg="localization_pkg" type="localization_node" name="localization_node" output="screen">
    <rosparam command="load" file="$(find localization_pkg)/config/localization.yaml"/>
  </node>
  <node if="$(eval arg('mode') == 'estimator')" pkg="localization_pkg" type="localization_estimator_node.py" name="localization_node" output="screen">
    <rosparam command="load" file="$(find localization_pkg)/config/localization.yaml"/>
  </node>
</launch>
