numpy==1.24.4
spconv-cu118==2.3.6
numba==0.58.1
tensorboardX==2.6.2.2
easydict==1.13
PyYAML==6.0.2
scikit-image==0.21.0
tqdm==4.67.1
SharedArray==3.2.4
pyquaternion==0.9.9
kornia==0.6.12
rospkg==1.6.0
catkin_pkg==1.0.0
ninja==1.11.1.3
