<launch>
  <arg name="test_speed_cap_kph" default="0.0"/>
  <node pkg="path_planning_pkg" type="path_planner_node.py" name="path_planner_node" output="screen">
    <rosparam command="load" file="$(find path_planning_pkg)/config/frenet_planner.yaml"/>
    <rosparam command="load" file="$(find path_planning_pkg)/config/hybrid_astar.yaml"/>
    <rosparam command="load" file="$(find path_planning_pkg)/config/planner_mode.yaml"/>
    <param name="test_speed_cap_kph" value="$(arg test_speed_cap_kph)"/>
  </node>
</launch>
