<?xml version="1.0"?>
<launch>
  <!-- 기본 실행은 1차 live MORAI sensor-ingress profile이다.
       Downstream 패키지는 통합 지점을 미리 고정하되 아직 미구현이므로 모두 opt-in이다. -->

  <arg name="start_hd_map" default="false"/>
  <arg name="start_camera_perception" default="false"/>
  <arg name="start_lidar_perception" default="false"/>
  <arg name="start_localization" default="false"/>
  <arg name="start_global_route_manager" default="false"/>
  <arg name="start_world_model" default="false"/>
  <arg name="start_path_planning" default="false"/>
  <arg name="start_vehicle_control" default="false"/>
  <arg name="start_system_readiness" default="false"/>
  <arg name="start_safety_supervisor" default="false"/>
  <arg name="start_runtime_evaluation" default="false"/>

  <param name="/use_sim_time" value="false"/>

  <rosparam command="load"
            file="$(find system_bringup_pkg)/config/live_morai_sensor_ingress.yaml"
            ns="/molit/internal/system_bringup/profile"/>

  <include file="$(find morai_interface_pkg)/launch/morai_interface_pkg.launch">
    <arg name="start_cameras" value="true"/>
    <arg name="start_gps" value="true"/>
    <arg name="start_imu" value="false"/>
    <arg name="start_lidar" value="false"/>
    <arg name="start_lidar_watchdog" value="false"/>
  </include>

  <group if="$(arg start_hd_map)">
    <include file="$(find hd_map_pkg)/launch/hd_map_pkg.launch"/>
  </group>

  <group if="$(arg start_camera_perception)">
    <include file="$(find camera_perception_pkg)/launch/camera_perception_pkg.launch"/>
  </group>

  <group if="$(arg start_lidar_perception)">
    <include file="$(find lidar_perception_pkg)/launch/lidar_perception_pkg.launch"/>
  </group>

  <group if="$(arg start_localization)">
    <include file="$(find localization_pkg)/launch/localization_pkg.launch"/>
  </group>

  <group if="$(arg start_global_route_manager)">
    <include file="$(find global_route_manager_pkg)/launch/global_route_manager_pkg.launch"/>
  </group>

  <group if="$(arg start_world_model)">
    <include file="$(find world_model_pkg)/launch/world_model_pkg.launch"/>
  </group>

  <group if="$(arg start_path_planning)">
    <include file="$(find path_planning_pkg)/launch/path_planning_pkg.launch"/>
  </group>

  <group if="$(arg start_vehicle_control)">
    <include file="$(find vehicle_control_pkg)/launch/vehicle_control_pkg.launch"/>
  </group>

  <group if="$(arg start_system_readiness)">
    <include file="$(find system_bringup_pkg)/launch/system_readiness.launch"/>
  </group>

  <group if="$(arg start_safety_supervisor)">
    <include file="$(find safety_supervisor_pkg)/launch/safety_supervisor_pkg.launch"/>
  </group>

  <group if="$(arg start_runtime_evaluation)">
    <include file="$(find runtime_evaluation_pkg)/launch/runtime_evaluation_pkg.launch"/>
  </group>
</launch>
